body{
    background-image: linear-gradient(#f0ead6, #D3D3D3);
    color: #808080;
    padding: 50px;
    font-family: Georgia;
    border: 10px solid white;
}

p{
    text-align:center
}

h1 {
    border-bottom: 5px solid #ffffff;
}

h2 {
    border-bottom: 3px solid #ffffff;
}

h3 {
    border-bottom: 3px solid #ffffff;
}

#introduction{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 2em;
    padding-bottom: 5px;
}

#connect{
    width: 30px;
    float: right;
}

#connect:hover{
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

#connect1{
    width: 30px;
}

#connect1:hover{
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

#resume{
    width: 30px;
    float: right;
    margin-right: 12.5px;
    position: relative
}

#resume:hover{
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

#resume1{
    width: 30px;
    margin-right: 12.5px;
    position: relative
}

#resume1:hover{
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

#headshot{
    width: 200px;
    border: 2px solid black;
    border-radius: 2px;
}

#mbp{
    width: 355.5px;
    border: 2px solid black;
    border-radius: 2px;
}

#sparty{
    width: 266.75px;
    border: 2px solid black;    
    border-radius: 2px;
}

#ohio{
    width: 275px;
    border: 2px solid black;
    border-radius: 2px;
}

#spartan{
    width: 50px;
    padding-left: 20px;
    padding-top: 10px;
}

.software{
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.involvement{
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
  }
  
  input[type=submit] {
    background-color: rgb(145, 145, 145);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 500px;
  }
  
  input[type=submit]:hover {
    background-color: #808080;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }